.App {
  width: 100%;
  height: 100%;
}

.firstContainer {
  width: 100%;
  height: 600px;
  background-image: url("../../public/img/home/fondo_home.webp");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;

  background-color: #161616;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
}

.pinkLetters{
  padding-left: 100px; /* Añade espacio a la izquierda */
  font-size: 90px; /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  line-height: 1.2;
  color: #E20077;
}

.letters{
  padding-left: 100px; /* Añade espacio a la izquierda */
  font-size: 90px; /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  line-height: 1.2;
}

.secondContainer{
  background-color: white;

  width: 100%;

  overflow-x: hidden;
  font-weight:600;
  font-size: 45px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.yellowContainer{
  background-color: #FBB016;

  width: 100%;

  overflow-x: hidden;
  font-weight:600;
  font-size: 45px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 

  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.mascaraContainer{
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas iguales */
  align-items: center;
  justify-items: center; /* Centrar los elementos en cada columna */

  margin-top: 80px;
}

.mascaraImg{
  width: 80%;
  height: auto;
}

.mascaraText{
  display: flex;
  flex-direction: column;

  width: 80%;
}

.mascaraTitle{
  display: flex;
  flex-direction: column;

  font-size: 50px;
  font-weight: 700;

  margin-bottom: 60px;
}

.titleFirstLine{
  display: flex;
  flex-direction: row;

  gap: 15px;
}

.mascaraBody{
  font-size: medium;
  margin-bottom: 15px;
}

.mascaraBodyPink{
  font-size: medium;
  color: #E20077;
}

.blueLetter{
  color: #5547FF;
}

.textoRutas{
  font-size: 60px;
  font-weight: 900;
  margin-top: 150px;

  width: 100%;

  display: flex;
  justify-content: center;
}

.tarjetaAzul{
  width: 100%;
  height: auto;
  background-image: url("../../public/img/home/fondoAzul.svg");
  background-size: contain;
  background-position: left;

  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 40px;
}

.tarjetaAmarilla{
  width: 100%;
  height: auto;
  background-image: url("../../public/img/home/fondoAmarillo.svg");
  background-size: contain;
  background-position: left;

  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: -25px;
}

.tarjetaRosa{
  width: 100%;
  height: auto;
  background-image: url("../../public/img/home/fondoRosado.svg");
  background-size: contain;
  background-position: left;

  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: -25px;
}

.tarjetaNegra{
  width: 100%;
  height: auto;
  background-image: url("../../public/img/home/fondoNegro.svg");
  background-size: contain;
  background-position: left;

  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: -25px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.textoTarjetas{
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.textoTarjetas2{
  width: 80%;

  display: flex;
  gap: 75px;
}

.tituloTarjetas{
  font-size: 60px;
  font-weight: 900;

  width: 100%;

  display: flex;
  justify-content: start;
  align-items: center;

  padding-left: 105px;
}

.cuerpoTarjetas{
  display: flex;
  flex-direction: column;
  gap: 30px;

  font-size: medium;
}

.subrayado{
  text-decoration: underline;
  font-style: italic;
}

.tarjetaImg{
  width: 73.33px;
  height: 73.33px;
}

.tarjetaButton {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Hover específico para cada botón usando clases individuales */
.tarjetaButtonAzul:hover .tarjetaImg {
  content: url("../../public/img/home/blancoAzul2.svg"); /* Imagen alternativa para el botón azul */
}

.tarjetaButtonAmarilla:hover .tarjetaImg {
  content: url("../../public/img/home/blancoAmarillo.svg"); /* Imagen alternativa para el botón amarillo */
}

.tarjetaButtonRosa:hover .tarjetaImg {
  content: url("../../public/img/home/blancoRosa.svg"); /* Imagen alternativa para el botón rosa */
}