.culturaMainContainer{
    width: 90%;
    height: 600px;
    background-color: #161616;
}

.culturaButtonContainer {
    width: 63px;
    height: 63px;
    border: none;
    background-image: url('../../public/img/cultura/botonRosa.svg');
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: 20px;
    margin-left: 40px;
}

.culturaButtonContainer:hover {
    background-image: url('../../public/img/cultura/botonAmarillo.svg');
}

.cardsCultura{
    width: 45%;
    height: 200px;
    border-radius: 30px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 45px;
}

.imgPng{
    height: 100%;
    background-color: antiquewhite;
    position: relative;
}

.artesanos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor */
    object-fit: cover; /* Cubre el contenedor sin distorsionar la imagen */
    z-index: 0;
}

.logos{
    height: 150px;
    width: 40%;
}

.blueCard {
    background-color: #5547FF;
}

.pinkCard {
    background-image: url("../../public/img/cultura/artesanos.svg");
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;

    display: flex;
    justify-content: end;
}

.yellowCard {
    background-image: url("../../public/img/cultura/documentales.svg");
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: end;
}

.greenCard {
    background-color: #4DD973;
}

.filaCultura{
    display: flex;
    justify-content: space-evenly;
}

.cardNumber{
    font-weight: 800;
    margin: 0;
}

.cardTexts{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.cardTexts p{
    margin: 0;
}

.otras{
    margin-right: 20px;
}